<section>
 <div class="panel panel-danger">
  <div class="panel-heading">
    Cambio de Contraseñas de Clientes
  </div>
  <div class="panel-body">
    <div class="panel">
      <input type="text" class="form-control" id="contrase" placeholder="Escriba la Contraseña nueva">
    </div>
    <div class="panel">
     <input type="text" class="form-control" id="contrase" placeholder="Escriba nuevamente la Contraseña">
    </div>
    <buttom class="btn btn-success">Guardar</buttom>
  </div>
 </div>
</section>