<div class="col-md-12">
        <h4>Destinos </h4>
        <div class="table-responsive">

                
              <table id="mytable" class="table table-bordred table-striped">
                  <thead> 
                   <th>Pais</th>
                   <th>Lugar</th>
                   <th>Fecha</th> 
                   <th>Precio</th> 
                   <th>Editar</th>  
                   <th>Borrar</th>
              </thead>
    <tbody id="table_lista">
    
    
    </tbody>
</table>
</div>

<script type="text/javascript">
  $("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", true);
            });
        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
        }
    });
    $("[data-toggle=tooltip]").tooltip();
</script>